<!DOCTYPE html>
<html ng-app="MyApp" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Entrepot">
    <title>Caisse</title>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="resources/css/heroic-features.css">
</head>

<body id="home" ng-controller="productController">

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Caisse</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Accueil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <hr>

    </br>

    <div class="col-lg-12">
        <h1>Setting of the application</h1>
    </div>

    </br>
    <div class="row">
        <div class="col-lg-12">
            <span>Current App Name : {{model.appName}}</span>
            <br>
            <span>Current App IP : {{model.appip}}</span>
            <br>
            <span>Current St IP : {{model.stip}}</span>
            <br>
            <span>Current instance ID : {{model.instanceId}}</span>
            <br>
        </div>
        <div class="col-lg-12">
            <h3>Set appName</h3>
            <form action="/CA/api/setappname" method="post">
                <span> New AppName : </span>
                <input class="input-lg" name="inputappname"/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-lg-12">
            <h3>Set appip</h3>
            <form action="/CA/api/setappip" method="post">
                <span> New AppIP : </span>
                <input class="input-lg" name="inputid"/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-lg-12">
            <h3>Set stip</h3>
            <form action="/CA/api/setstip" method="post">
                <span> New St Ip : </span>
                <input class="input-lg" name="inputstid"/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="col-lg-12">
            <h3>Set instance Id</h3>
            <form action="/CA/api/setinstanceid" method="post">
                <span> New Instance ID : </span>
                <input class="input-lg" name="inputinstanceid"/>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

        <hr>
        </br>

        <div class="col-lg-12">
            <h1>Functions test / test with ST</h1>
        </div>

        </br>

        <div class="col-lg-12">
            <div ng-show="model.appName == null || model.appip == null || model.stip == null || model.instanceId == null" class="alert alert-danger" style="font-size: large; text-align: center;">
                <strong>The app ip, st ip and instance id must be set before call any functions !</strong>
            </div>
        </div>

        </br>

        <div class="col-lg-12">
            <h3>Handshake</h3>
            <div class="input-append col-md-4 col-md-offset-4">
                <div ng-model="model">
                    <button ng-disabled="model.appName == null || model.appip == null || model.stip == null || model.instanceId == null" class="btn btn-primary" ng-click="callHandshake()" >Handshake</button>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h3>Test message to st</h3>
            <div class="input-append col-md-4 col-md-offset-4">
                <div ng-model="model">
                    <button ng-disabled="model.appName == null || model.appip == null || model.stip == null || model.instanceId == null" class="btn btn-primary" ng-click="getMessageGet()" >Test Message to ST</button>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h3>Test service with st</h3>
            <div class="input-append col-md-4 col-md-offset-4">
                <div ng-model="model">
                    <button ng-disabled="model.appName == null || model.appip == null || model.stip == null || model.instanceId == null" class="btn btn-primary" ng-click="getMessagePost()" >Test Service with st</button>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h3>Test send file</h3>
            <div class="input-append col-md-4 col-md-offset-4">
                <div ng-model="model">
                    <button ng-disabled="model.appName == null || model.appip == null || model.stip == null || model.instanceId == null" class="btn btn-primary" ng-click="getSendFile()" >Test Send file</button>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h3>Test check File</h3>
            <div class="input-append col-md-4 col-md-offset-4">
                <div ng-model="model">
                    <button ng-disabled="model.appName == null || model.appip == null || model.stip == null || model.instanceId == null" class="btn btn-primary" ng-click="checkFile()" >Test Send file</button>
                </div>
            </div>
        </div>

        <br/>
        <footer>
            <div class="row">
                <div class="col-lg-12" style="text-align: right">
                    <p>Copyright &copy; SIGL 2016</p>
                </div>
            </div>
        </footer>

        <script src="resources/js/lib/jquery.js"></script>
        <script src="resources/js/lib/angular/angular.js"></script>
        <script src="resources/js/app.js"></script>
        <script src="resources/js/directives.js"></script>
        <script src="resources/js/services.js"></script>
        <script src="resources/js/filters.js"></script>
        <script src="resources/js/lib/bootstrap.min.js"></script>
        <script src="resources/js/controllers/controller.js"></script>
        <script src="resources/js/controllers/productController.js"></script>
    </div>
</div>
</body>
</html>
